use flake

PATH_add bin/

export NAMECHEAP_API_KEY=$(pass show misc/namecheap-api-key)
export VULTR_API_KEY=$(pass show misc/vultr-api-key)

pppass=$(pass show www/perfect-privacy.com | head -1)
export HTTP_PROXY=pborzenkov:${pppass}@amsterdam1.perfect-privacy.com:3128
export HTTPS_PROXY=pborzenkov:${pppass}@amsterdam1.perfect-privacy.com:3128
